<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic In App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-row text-center>
  <ion-col>Crystal: {{crystalCount}}</ion-col>  
  <ion-col>Special mode: {{specialGame}}</ion-col>  
  <ion-col>Monthly Sub: {{monthlySub}}</ion-col>  
</ion-row>

<ion-card *ngFor = "let produt of products">
<ion-card-header>Title</ion-card-header>
<ion-card-content>
  {{product.description}}
</ion-card-content>
<ion-row>
  <ion-col>
    <button ion-button block (click)="buy(product.productId)">Buy now-{{product.price}}</button>
  </ion-col>
</ion-row>
</ion-card>

<button ion-button full icon-left (click)="restore()" color="secondary">
<ion-icon name="refresh"></ion-icon>Restore
</button>

<ion-card *ngFor = "let prev of previousPurchases">
<ion-card-header>Purchased {{prev.date | date:'short'}}</ion-card-header>
<ion-card-content>
  {{prev.productId}}
</ion-card-content>
</ion-card>

</ion-content>
